html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #0c0c0c;
    color: #eaeaea;
    padding: 10px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eaeaea;
    width: 100%;
    padding: 25px 0;
    z-index: 100;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
    font-weight: 900;
}

nav ul li a:hover {
    color: #00447c;
}

nav .active {
    color: #0b7b9e;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h1,
section h2 {
    margin-top: 0;
    color: #0c0c0c;
    text-decoration: underline;
}

section h3 {
    margin-top: 0;
    color: #212121;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #212121;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px;
    font-family: 'IBM Plex Sans', sans-serif;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px;
    width: 200px;
    height: 100px;
    resize: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #999;
}

#charCount {
    position: absolute;
    font-size: 10px;
    color: #212121;
    margin-top: 215px;
}

.message-container {
    position: relative;
}

.project a {
    font-size: 12px;
    color: #00447c;
}

.container p {
    font-size: 18px;
    color: #313131;
    font-weight: 600;
}

.scrolling {
    height: 75%;
    width: 75%;
}

.embedded {
    height: 75%;
    width: 75%;
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-list {
    columns: 3;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.skills-list li {
    margin-bottom: 15px;
    color: #212121;
    font-size: 18px;
}

.container li {
    color: #212121;
    font-size: 16px;
    margin-bottom: 15px;
}

#title {
    color: #0c0c0c;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
}

.animate-button {
    padding: 10px 20px;
    background-color: #d2d2d2;
    border: none;
    transition: background-color 0.3s ease;
    transition: transform 0.2s ease;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #bababa;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
}

.animate-button:hover {
    margin-top: 10px;
    background-color: #0b7b9e
}

.animate-button:active {
    transform: scale(0.8);
    margin-top: 10px;
}

footer {
    background-color: #eaeaea;
    color: #0c0c0c;
    padding: 20px;
    text-align: left;
    display: flex;
    position: absolute;
    width: 100%;
    border-top: 1px solid #000;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}