html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    height: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #0c0c0c;
    color: #eaeaea;
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dddace;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #0c0c0c;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

nav ul li a:hover {
    color: #035b7a;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h1,
section h2 {
    margin-top: 0;
    color: #0c0c0c;
    text-decoration: underline;
}

section h3 {
    margin-top: 0;
    color: #212121;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #212121;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 100px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #999;
}

#charCount {
    position: absolute;
    font-size: 10px;
    color: #212121;
    margin-top: 215px;
}

.message-container {
    position: relative;
}

.project a {
    font-size: 12px;
    color: #00447c;
    font-family: 'Roboto', sans-serif;
}

.container p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #212121;
}

.scrolling {
    height: 75%;
    width: 75%;
}

.embedded {
    height: 75%;
    width: 75%;
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-list {
    columns: 3;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.skills-list li {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 18px;
}

.container li {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 16px;
    margin-bottom: 15px;
}

#title {
    font-family: 'Roboto', sans-serif;
    color: #0c0c0c;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
}

.sidebar-left,
.sidebar-right {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #c6c3b6;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.animate-button {
    padding: 10px 20px;
    background-color: #dddace;
    border: none;
    transition: transform 0.3s ease;
    margin-top: 5px;
}

.animate-button:hover {
    transform: scale(1.1);
    margin-top: 5px;
}

.animate-button:active {
    transform: scale(0.9);
    margin-top: 5px;
}

footer {
    background-color: #c6c3b6;
    color: #0c0c0c;
    padding: 20px;
    text-align: left;
    margin-left: 50px;
    display: flex;
    position: absolute;
    width: 100%;
}

.social-icons { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}